
<h1><%= @product.title %></h1>
<img src="<%= @product.image %>" width="300">
<h2><%= number_to_currency(@product.price) %></h2>
<% if user_signed_in? && current_user.admin %>
  <a href="/products/<%= @product.id %>/edit">Edit</a>
  <a href="/products/<%= @product.id %>" data-method="delete" rel="nofollow">Delete</a>
<% end %>

<h3><%= @product.sale_message %></h3>

<% if @product.vendor %>
  <h4><%= @product.vendor.name %></h4>
<% end %>

<ul>
<% @product.product_options.each do |product_option| %>
  <li><%= product_option.name %></li>
<% end %>
</ul>

<table>
  <tr>
    <td>Subtotal:</td>
    <td><%= number_to_currency(@product.price) %></td>
  </tr>
  <tr>
    <td>Tax:</td>
    <td><%= number_to_currency(@product.tax) %></td>
  </tr>
  <tr>
    <td>Total:</td>
    <td><%= number_to_currency(@product.total) %></td>
  </tr>
</table>

<% if user_signed_in? %>
  <%= form_tag "/carted_products" do %>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>

    <%= hidden_field_tag :product_id, @product.id %>

    <%= submit_tag "Add To Cart" %>
  <% end %>
<% end %>