
<h1><%= @product.title %></h1>

<img src="<%= @product.image %>" width="300">

<h3><%= number_to_currency(@product.price) %></h3>

<h2><%= @product.description %></h2>

<% if @product.vendor %>
	<h2><%= @product.vendor.name %></h2>
<% end %>

<ul>
<% @product.product_options.each do |product_option| %>
	<li><%= product_option.name %></li>
<% end %>

<a href="/products/<%= @product.id %>/edit">Edit</a>
<a href="/products/<%= @product.id %>" data-method="delete" rel="nofollow" data-confirm="Are you">Delete</a>

<h5> <%= @product.discount %></h5>

<table>

	<tr>
		<td>Subtotal: </td>
		<td> <%= number_to_currency(@product.price) %>
	</tr>
	<tr>
		<td>Tax: </td>
		<td> <%= number_to_currency(@product.tax) %></td>
	</tr>

	<tr>
		<td>Total: </td>
		<td> <%= number_to_currency(@product.total) %></td>
	</tr>
</table>

<%= form_tag '/orders' do %>
	 <%= label_tag :quantity %>
	 <%= text_field_tag :quantity %>

	  
	 <%= hidden_field_tag :product_id, @product.id %>

	 <%= submit_tag "Buy Now" %>
<% end %>